@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    display: flex;
    font-family: "Poppins", Arial, sans-serif;
}
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.navbar .logo {
    width: 150px;
    margin: 20px;
}
.navbar img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.container {
    padding-top:25px;
}
